@model WebApplication.Models.ViewModels.RandomCustomerViewModel    /* dopisać referencje na wybrany model */
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customers</h1>
<h3>Customer</h3>
<ul>
   
  
        @foreach (var customer in Model.Customers)
    {
        <li><a>@customer.Name</a></li>
    }

</ul>